body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: medium;
  background-color: #ffffff;
  background-image: url(background.svg);
  background-attachment: fixed;
  background-size: cover;
  color: #495057;
}
.header {
  display: flex;
  flex-direction: column;
  .header-layout {
    /* background-image: url('cover.jpg'); */
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 180px;
    .logos {
      display: flex;
      gap: 2px;
      .logoone {
        width: 100;
        height: 100;
      }
      .logotwo {
        width: 100;
        height: 100;
      }
    }
    .header-layout-text {
      color: #575f64;
      font-family: "Trebuchet MS", sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 60px;
      text-align: right;
      font-stretch: 100%;
      .header-main-text {
        font-weight: 500;
      }
      .header-sub-text {
        color: #ec2525;
      }
      .header-ilatic {
        font-family: "Brush Script MT", cursive;
      }
    }
    .social-media {
      display: flex;
      align-items: flex-end;
      padding-bottom: 10px;
    }
  }
}

.header h1 {
  margin-top: 10px;
  font-size: 40px;
}

h2 {
  margin-top: 50px;
  padding-bottom: 0px;
}

.h2-topic {
  text-transform: uppercase;
  font-weight: 500;
}
.h2-topic:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.above-dragon-cloud-text{
  border: 2px solid #ddd;
  background-color: #d3a2a2;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}
nav {
  margin-top: 30px;
}

nav a:hover {
  color: #ecb725;
}
nav li.active a {
  color: #1f1d1d;
}

nav ul {
  list-style: none;
  padding: 10px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 55px;
}

nav a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-weight: 500;
  font-size: 25px;
  transition: color 0.3s ease;
}

.content-border {
  background-image: url(content-bg.svg);
  background-attachment: fixed;
  padding: 100px;
  margin: 0 200px;
  border: 2px solid #ddd;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-ul {
  display: flex !important;
  flex-direction: row !important;
  gap: 0px !important;
}
.content-border-header {
  padding: 10px;
  /* background-color: #f87575; */
  /* border: 0px solid #ddd;
  border-radius: 15px; */
}

.content-border-header a {
  font-weight: 600;
}

.content-border-header:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.content p {
  font-size: 18px;
  line-height: 1.6;
  color: #495057;
  margin-bottom: 20px;
}

.vision-mission-text {
  color: #ffffff !important;
}

.banner-title ,
.courses-page-title,
.testimonials-page-title {
  text-transform: uppercase;
  padding-bottom: 0px;
  font-size: 25px;
  margin-top: 5px !important;
  color: #dd5b27 !important;
  font-weight: 500 !important;
}

.courses-options{
  font-weight: 500 !important;
  text-transform:uppercase !important;
}

.cloud-image-banner {
  text-align: center;
  position: relative;
}

.cloud-image {
  margin: 0;
  width: 550px;
  height: 320px;
}

.cloud-image:hover {
  padding-top: 10px;
  padding-bottom: 5px;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.content h2 {
  font-size: 32px;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.course-card-hsk {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  width: 500px;
  height: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.course-card:hover {
  transform: scale(1.05);
}

.course-card-hsk:hover {
  transform: scale(1.05);
}

.course-card h3 {
  color: #3498db;
  font-size: 24px;
  text-align: center;
}

.course-card-hsk h3 {
  color: #3498db;
  font-size: 24px;
  text-align: center;
}

.course-card p {
  font-size: 18px;
  color: #6c757d;
  line-height: 1.6;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-text {
  text-align: center;
  margin-bottom: 40px;
}

.lecturer-image {
  width: 200px;
  height: 310px;
  
}

.lecturer2-image{
  width: 270px;
  height: 310px;
}

.lecturer-image:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.lecturer2-image:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.olcards {
  margin-left: 30%;
  padding: 0;
  box-sizing: border-box;
  align-items: left;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: white;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: white;
  color: var(--cardColor);
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .content {
  background-color: var(--cardColor);
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: grid;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize))
    var(--boxPadding) calc(var(--inlinePadding) + var(--labelOffset));
  grid-template-areas:
    "icon title"
    "icon text";
  gap: 0.25em 1em;
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.olcards li .content::before {
  content: "";
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: var(--cardColor);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .content::after {
  content: "";
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}

.olcards li .content .title {
  grid-area: title;
  font-size: 1.25em;
  font-weight: 700;
}

.contact-card {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.gform{
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: left;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  color: #495057;
}

.card p {
  margin: 0;
  font-size: 16px;
}

.card a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.card a:hover {
  text-decoration: underline;
}

.vision-title,
.mission-title {
  color: #dd2727 !important ;
  margin-top: 10px !important;
}

#vision {
  margin-right: 20px;
}
.vision-mission {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.cloud-banner {
  background-color: #051620;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 45%;
}

.cloud-banner h2 {
  margin-bottom: 10px;
}

.cloud-banner p {
  font-size: 16px;
  line-height: 1.6;
}

.cloud-banner::before {
  content: "\2601";
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
}

.cloud-banner::after {
  content: "\2601";
  font-size: 40px;
  display: block;
  margin-top: 10px;
}

.testimonials-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.testimonials-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.testimonials-card:hover {
  transform: scale(1.05);
}

.testimonials-card h3 {
  text-align: center;
  color: #495057;
}

.testimonials-card p {
  margin: 10px 0;
}

.testimonials-card img {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}
.footer {
  background-color: #325b75;
  color: white;
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  nav {
    margin-top: 20px;
  }

  nav a {
    font-size: 20px;
  }

  .content-border {
    margin: 50px;
    padding: 20px;
  }

  .testimonials-card {
    width: calc(50% - 20px);
  }
  .header-layout-text{
    text-align: center !important;
  }
  .header-layout {
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-left:0px !important;
    padding-right: 0px !important;
    padding-top: 0px;
  }

}

@media only screen and (max-width: 990px) {
  nav {
    margin-top: 20px;
  }

  nav a {
    font-size: 20px;
  }

  .content-border {
    margin: 30px;
    padding: 20;
  }

  .header-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left:0px !important;
    padding-right: 0px !important;
  }
    
  .header-layout-text{
    text-align: center !important;
    font-size: 30px !important;
  }

  .testimonials-card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 767px) {
  nav {
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 80px;
  }

  nav a {
    font-size: 16px;
  }

  .cloud-image {
    width: 400px;
  }
  .content-border {
    margin: 20px;
    padding: 10px;
  }

  .testimonials-card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 575px) {
  nav {
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;
  }

  nav a {
    font-size: 16px;
  }

  .cloud-image {
    width: 400px;
  }
  .content-border {
    margin: 10px;
    padding: 10px;
  }

  .testimonials-card {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  nav {
    margin-top: 20px;
  }

  nav a {
    font-size: 16px;
  }
  nav li {
    margin: 0 0px !important;
  }
  .cloud-image {
    width: 300px;
    height: auto;
  }
  .content-border {
    margin: 10px;
    padding: 10px;
  }

  .testimonials-card {
    width: 100%;
  }
  .olcards{
    margin-left: 4px !important;
  }
}
